.containerGame{
  display: grid;
  width: 420px;
  /* flex-wrap: wrap; */
  border: 3px solid #7c000081;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ebb687e1;
  box-shadow: 6px 5px 9px 4px #c62d0ad7;
  transition: all 400ms ease;
}

.containerGame:hover {
  background-color: #ebb687f5;
  box-shadow: 6px 5px 9px 4px #d15925d8;
  border: 3px solid #7c0000c7;
  transform: translateY(-1.8%);

}

.imgDiv {
  display: flex;
  margin: 10px;
  overflow: hidden;  /*Recorta contenido*/
  width: 400px;
  height: 400px;
}

.imgDiv img {
  object-fit: cover;
  width: 100%;
  min-height: 100;
  border-radius: 10px;
}

.titleGame{
  object-fit: cover;
  text-align: center;
  width: 100%;
  min-height: 100%;
  border-radius: 10px;
  color: #630000;
  text-shadow: 1.5px 1.3px 3px #c10000;
  font-size: x-large;
}

.infoRating{
  display: flex;
  justify-content: center;
}

.infoContGenres {
  display: flex;
  justify-content: center;
  height: 35px;
}

.btnDiv {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.btn {
  font-family: 'Quantico', sans-serif;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: #a2c11c;

}

.btn:hover {
  box-shadow: 2px 1px 2px 1px #2c5d63b6;
}


/* 
New Color palette (#000000 / #c10000 / #ebb587)
#000000
#630000
#7c0000
#970000
#b30000
#c62e0a
#d15925
#da7a42
#e39863
#ebb587
 */
