/* 
    display: flex;
    justify-content: center;
    background: #fff url('../../img/crear.jpg') center center/cover no-repeat;
*/

.container {      /*container-add*/
  text-align: center;
  margin: 0px 10px 0px 10px;
  padding: 10px;
  /* width: 800px; */
  height: 650px;
}

.container h2 {
  text-align: center;
  font-size: 4rem;
  color: #e0e0e0;
  text-shadow: 0px 0px 12px #da7a42;
}

.titleName {
  color: #e0e0e0;
  text-shadow: 2px 1px 3px #c10000;
}

.container label {
  font-size: large;
  margin: 3px;
}

.container input {
  background-color: #ebb687b7;
  border: none;
  box-shadow: 0px 0px 4px #b30000;
}

.container textarea {
  
  background-color: #ebb687b7;
  border: none;
  box-shadow: 0px 0px 4px #b30000;
}

.formDiv {         /*div-cont*/
  display: flex;
  justify-content: center;
}

.genresDiv {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  border: none;
  box-shadow: 0px 0px 4px #b30000;
  width: 750px;
  border-radius: 10px;
  background-color: #ebb687b7;
}

.platfromsDiv {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  border: none;
  box-shadow: 0px 0px 4px #b30000;
  border-radius: 10px;
  background-color: #ebb687b7;
}

.name {
  height: 25px;
  width: 400px;
  border-radius: 8px;
}


.dt {
  height: 25px;
  width: 120px;
  border-radius: 8px;
}

.btnDiv {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.btnDiv button {
  font-family: 'Quantico', sans-serif;
  font-size: 15px;
  padding: 14px;
  font-weight: 600;
  margin: 10px;
  border-radius: 14px;
  background-color: #ebb587;
  color: #7c0000;
}

.btnDiv button:hover {
  box-shadow: 0px 0px 8px #e0e0e0;
  background-color: #da7a42;
}



