.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
width: 50px;
height: 50px;
border-radius: 15px;
background-color: #ebb587;
color: #7c0000;
font-weight: 600;
}

.btnActive{
  font-weight: 700;
  width: 50px;
height: 50px;
border-radius: 15px;
background-color: #c62e0a;
color: #ebb587;
}

.btn:hover {
  background-color: #da7a42;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
  margin: 20px;
  width: 40px;
}
