.container {
  /* display: flex; */
  justify-content: center;
  text-align: center;
}

.containerAbout {
  justify-content: center;
  text-align: center;
}

.containerAbout h1{
  color: #b30000;
  text-shadow: 0px 0px 7px #ebb587;
  font-size: 60px;
}

.containerAbout h2{
  color: #b30000;
  text-shadow: 0px 0px 7px #ebb587;
  font-size: 45px;
}

.containerAbout h3{
  color: #ebb587;
  text-shadow: 0px 0px 23px #c10000;
  font-size: xx-large;
}

.gitDiv {
  display: inline-block;
  justify-content: center;
  text-align: center;
  border: solid 3px #e0e0e0;
  border-radius: 30px;
  width: 150px;
  background-color: #e0e0e06b;
}

.gitDiv img{
  /* display: flex; */
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
}

.gitDiv button {
  /* display: contents; */
  background: none;
  margin: 0px;
  padding: 10px;
  font-size: large;
  height: 30px;
  color: #e0e0e0;
}

.gitDiv:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px #e0e0e0;
}

